<h3><i class="fas fa-book-reader"></i> YourStories</h3>
<div class="section">
    <p class="lead">
        Create your  public and private stories  from your life
    </p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn grey darken-4">
        <i class="fab fa-google left"></i> Log In with GOOGLE
    </a>
</div>