<h2>Edit  Your Story</h2>
<div class="row">
    <form action="/stories"  method="POST"class="col s12">
    <div class="row">
        <div class="input-field">
        <input type="text" id="tittle" name="tittle" value="{{story.tittle}}">
        <label for="title">Title</label>
    </div>
    </div>

    <div class="row">
        <div class="input-field">
            <select name="status" id="status">
       {{#select story.status}}
                <option value="public">Public</option>
                <option value="private">Private</option>         
        {{/select}}
            </select>
            <label for="status">status</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field">
            <h5>Tell us your story</h5>
            <textarea name="body" id="body" >{{story.body}}</textarea>
        </div>
    </div>

    <div class="row">
        <input type="submit" value="save" class="btn teal darken-4 pulse">
        <a href="/dashboard" class="btn red darken-1 pulsee">cancel</a>
    </div>
    </form>
</div>